[2020-02-25 14:29] frenck opened #1 "Keeps outputting errors, causing the VSCode output window to open"
I was curious about this, so I installed it immediately.

It actually gives some nice suggestions now an then, but the VSCode extensions is mainly throwing errors in the output console:

[code]

This causes VSCode to constantly throwing a warning popup in the bottom and the terminal constantly switches away to the output window to show me this.

It doesn't happen with specific files, but all files

[2020-02-25 14:46] Hellebore commented on #1
Can see the problem. Will fix as soon as I can!

[2020-02-25 19:26] Hellebore commented on #1
We've just updated to version 0.1.1 which should fix it. Please give it a try!

[2020-02-25 22:13] frenck commented on #1
It works like a charm! Thanks for the quick fix! ❤️

[2020-02-25 22:13] #1 closed

[2020-03-10 09:31] Clusks opened #6 "for i in range(0,10)[::-1] changes to for i in range(10)[-1]"
If you have the following code which goes backwards through a range in an unpythonic way:

`for i in range(0,10)[::-1]:
        print(i)`

Sourcery will recommend changing it to:

`for i in range(10)[-1]:
       print(i)`

This will result in breaking the code. with the error message:

`TypeError: 'int' object is not iterable`

Ideally, it should be altering the arguments to take advantage of the

[2020-03-10 15:16] Hellebore commented on #6
Have identified a fix for the issue which will be in our next release.

[2020-03-19 10:57] jdonnerstag opened #9 "Sourcery also scanning the .git directory"
Seems that sourcery is simply scanning all directories. May be sourcery should leverage .gitignore and .git if present.  I'm using VS Code as editor.
is there, today, a way to tell sourcery which directory to include?

[2020-03-19 13:02] Hellebore commented on #9
There isn't at the moment, but we are planning on adding that configuration in the next few weeks.

[2020-03-19 14:27] Hellebore commented on #6
Now resolved with release of version 0.2.2 of plugin.

[2020-03-19 14:27] #6 closed

[2020-04-22 13:20] simmol commented on #9
Hey @Hellebore what is the status of this configuration option ?

I like some of the suggestions sorcery give but i don't want to be suggested changes in files i can not change like in `.venv/lib/side-packages/`

[2020-05-15 08:59] Thalos12 opened #11 "Scan only open files"
I would like the extension to show suggestions only for open files.

Currently, the suggestions appear as soon as I open a file, but when I close it they remain in the "Problems" tab.
If possible, I would like them to automatically go away when I close the file to avoid clutter.

[2020-05-15 12:13] Hellebore commented on #11
Hi - thanks for the suggestion.

We're going to be working on the UX in the next few weeks so will definitely consider this for inclusion.

[2020-05-15 13:52] Thalos12 commented on #11
That's great news, thank you very much.
I am looking forward to seeing this feature added.

[2020-05-15 14:55] Thalos12 opened #12 "Fixing one expression makes other suggestions disappear."
I noticed that after manually applying one suggestion, the others disappear.

Consider for instance this function I wrote

[code]

Sourcery suggested to change line 2 to `c = {}` and line 4 to `if not (a is None or b is None):`, as shown below.

![Schermata del 2020-05-15 16-38-29-cut](https://user-images.githubusercontent.com/13919407/82062815-f5d29400-96ca-11ea-95d6-80baaefcf480.png)

I decided

[2020-05-15 21:11] Hellebore commented on #12
Thanks for raising - am able to reproduce.
Will investigate!

[2020-05-28 12:30] Hellebore commented on #12
Fix identified - should be in our next release.

[2020-05-28 12:32] Hellebore commented on #9
Hi - sorry for the delay.
This configuration is now available via a .sourcery.yaml file which has an ignore option.
This is already released but as yet undocumented - will be adding the documentation to our site in the next few days and will post here when ready.

[2020-05-28 18:54] Hellebore commented on #9
This new configuration is documented here:

https://github.com/sourcery-ai/sourcery/wiki/Sourcery-configuration

[2020-05-28 18:54] #9 closed

[2020-06-04 22:03] irahorecka opened #14 "sourcery.sourcery not compatible with VS Code version 1.40.2"
Hi there, I am attempting to download the Sourcery plugin for VS Code (version 1.40.2, MacOS 10.15.4) from the VS Code marketplace and am getting an incompatible error. I am wondering if there is an alternative way to download Sourcery?

[2020-06-05 11:46] brendanator commented on #14
The current minimum version of VSCode is 1.41 which is from November last year. I've investigated and it doesn't look like there's any issue with supporting earlier versions. The next version of the `sourcery.sourcery` extension will be compatible with 1.30.0 and above

[2020-06-06 13:42] Hellebore commented on #14
Fixed with release 0.2.5 of vscode extension.

[2020-06-06 13:42] #14 closed

[2020-06-06 13:42] Hellebore commented on #12
Fixed with release 0.2.5 of vscode extension.

[2020-06-06 13:42] #12 closed

[2020-06-06 15:00] Thalos12 commented on #12
I updated the extension and it works as expected.
Thank you!

[2020-06-06 16:32] Thalos12 commented on #12
Actually, something still does not seem right, please look at the gif below

![output](https://user-images.githubusercontent.com/13919407/83949275-118d0e00-a823-11ea-8cc6-9310290fa270.gif)

There are two issues that I can see:
- multiple refactors are shown together when the cursor is standing still
- just the refactor relevant for the line under the cursor is shown while the mouse is moving along

[2020-06-09 09:14] brendanator commented on #12
What's happening here is that VSCode is only showing the diff when the mouse cursor has stopped moving. When it is moving it is only showing the description of the changes that Sourcery is going to make. If you scroll down in the diff you will see the same description. In both cases there's 2 refactorings being shown:
- Replace dict() with {}
- Simplify logical expression

At the moment Sourcery s

[2020-06-09 09:24] Thalos12 commented on #12
Thank you for the explanation!

[2020-06-27 11:35] brendanator opened #17 "Provide more options for installation of the VSCode extension"
I use [VSCodium](https://vscodium.com/), which pulls extensions from [open-vsx.org](https://open-vsx.org), so it would be great to have the extension there.

It is also helpful to be able to download the .vsix and install manually

[2020-06-27 11:39] brendanator opened #18 "Don't store the token for the VSCode extension in settings.json"
Many people store their settings.json in public GitHub repos or Gists.

I would suggest storing the token in the VSCode user folder instead. An example implementation of this would be [Settings Sync](https://github.com/shanalikhan/code-settings-sync). This extension syncs VSCode settings through GitHub Gists.

As described in the [wiki](https://github.com/shanalikhan/code-settings-sync/wiki/Setup-

[2020-06-30 10:25] Hellebore opened #19 "Sourcery only providing suggestions in Windows when run as administrator"
I don't get code suggestions on VS Code for Windows unless I run as administrator? It is running as expected on VS Code for macOS, though.

[2020-07-01 01:20] thecesrom commented on #19
**Sourcery**
**Version**: 0.3.0
___
**Windows**
**Edition**: Windows 10 Enterprise
**Version**: 1909
**OS Build**: 18363.900

**Visual Studio Code**
**Version**: 1.46.1 (user setup)
**Commit**: cd9ea6488829f560dc949a8b2fb789f3cdc05f5d
**Date**: 2020-06-17T21:13:20.174Z
**Electron**: 7.3.1
**Chrome**: 78.0.3904.130
**Node.js:** 12.8.1
**V8**: 7.8.279.23-electron.0
**OS**: Windows_NT x64 10.0.18363

[2020-07-01 09:21] Hellebore commented on #19
This is strange - can only reproduce it if I explicitly remove my non-administrator user privileges from the sourcery binary.

Are there any error messages shown in the output pane?

One thing to try is to go to %USERPROFILE%\. vscode\extensions and delete the sourcery folder there, then restart vscode as a non-admin and re-install the plugin

[2020-07-07 16:18] br3ndonland opened #20 "Add token reset"
As mentioned in sourcery-ai/sourcery-vscode#18, many people store their _settings.json_ in public GitHub repos or Gists. Their Sourcery tokens could be accidentally compromised if pushed to a public repo or Gist.

If a token is compromised, the user should be able to deactivate the token and activate a new one.

Relates to sourcery-ai/sourcery#46.

[2020-07-07 19:33] brendanator commented on #20
Good suggestion, thanks

[2020-07-07 20:05] thecesrom commented on #19
There are no error messages in the Output pane.

Tried your suggestion of removing Sourcery from the extensions, and reinstall, but that didn't fix it. I also installed Visual Studio Code using the System Installer, as I had installed it using the User Installer, and same behavior.

I have verified my user account has Full Control over the sourcery.exe file, so I'm not sure what the issue is.

I w

[2020-07-08 08:38] Hellebore commented on #19
Thanks for your help!

Could you try opening the folder with the exe in the command prompt and running 'sourcery.exe --version'?

[2020-07-09 00:08] thecesrom commented on #19
Sure thing.
[code]

[2020-07-09 08:11] Hellebore commented on #19
oh I was really expecting that not to work!
We've just added a new option as well to check the binary can verify your token and do a refactoring -
could you try 'sourcery.exe --verify' please?

[2020-07-09 18:28] thecesrom commented on #19
This is the result:

[code]

But I get the same for the PyCharm plugin, which it is working fine on my computer.

[code]

[2020-07-09 23:23] thecesrom commented on #19
This is the output I get on macOS:

[code]

[2020-07-11 09:02] #20 closed

[2020-07-11 09:27] brendanator commented on #20
This is now available on the website - https://sourcery.ai/download/

[2020-07-11 09:35] br3ndonland commented on #20
Thank you. I tried out the token reset and it works well for me.

[2020-07-16 07:38] Hellebore commented on #11
This has now been added in as a feature in the latest extension version.

[2020-07-16 07:38] #11 closed

[2020-07-16 19:53] thecesrom commented on #19
Additional findings.

Sourcery on VSCode for Windows does not provide hints when a single file is opened, but it does on macOS.

Sourcery on VSCode for Windows **does** provide hints when the file is part of a project/workspace.

[2020-07-17 10:56] Hellebore commented on #19
Ah ha! Thanks very much that should be helpful in tracking it down.

[2020-07-18 08:36] Hellebore commented on #17
Sourcery is now uploaded to open-vsx.org - have just checked and it works on gitpod as well.

[2020-07-18 08:36] #17 closed

[2020-07-21 10:46] Hellebore commented on #19
Still can't quite reproduce this, which is frustrating!

Could you give an idea of the directory structure where you're opening a file and not getting suggestions?
Also the sequence of actions you take would be useful - (e.g. are you opening vscode for a workspace then opening a file outside it, etc)

[2020-07-21 17:31] thecesrom commented on #19
I placed a single file on the Desktop (`C:\Users\{user}\Desktop`).

Steps to reproduce:

1. Right-click on the file
2. Click on "Open with Code"

File: `sourcery.py`
Code:
[code]

The only way I get hints is when the file is under source control.

I have created a workspace that is not under source control, and I get no hints at all.

[2021-01-13 10:38] Giddius opened #27 "possible Memory Leak?"
Been noticing that while having Vscode with sourcery enable open for some time (>2hrs) no matter if code is executed or not, that sorcery starts to consume more and more memory. This behaviour is worsend by having multiple windows of Vscode open and completely goes away when disabling Sourcery.

Worst case was:
windows 10 x64
runtime: >24hrs
Vscode windows 4
Sourcery Memory usage >14gb

I also had

[2021-01-13 11:17] Hellebore commented on #27
Thanks for the report! We're investigating and will try and release a fix as soon as we can.

[2021-01-13 14:08] Giddius commented on #27
![memorygraph](https://user-images.githubusercontent.com/60372374/104462616-1aac3d80-55b1-11eb-8d29-9dfbac8eea9a.png)
![sourcery_memory](https://user-images.githubusercontent.com/60372374/104462617-1b44d400-55b1-11eb-94ff-e5fcfdbe8a37.png)

said graph and current consumption.

4 Vscode windows

[2021-01-18 09:33] Hellebore commented on #27
We've just released 0.8.7 which should improve memory consumption. Would you be able to give it another test?

[2021-01-20 17:28] #27 closed

[2021-02-13 04:57] br3ndonland commented on #18
VSCode 1.53 introduced a [secrets API](https://code.visualstudio.com/updates/v1_53#_secrets-api) that may be helpful.

[2021-04-05 00:36] tekumara opened #34 "Sourcery prompts for my token on startup every-time"
Despite having supplied it already.

sourcery v0.8.8

[2021-04-05 20:16] Hellebore commented on #34
Oh dear! Sorry about this.

Could you please let me know which OS and VS Code version you're on? Also what does it show in the Preferences > Settings if you search for `sourcery`?

[2021-04-06 00:15] tekumara commented on #34
Version: 1.55.0
Commit: c185983a683d14c396952dd432459097bc7f757f
Date: 2021-03-30T16:01:05.981Z
Electron: 11.3.0
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Darwin x64 20.3.0

Preferences > Settings -> Sourcery: Token was empty and wouldn't keep my token even when I entered it.

I tried uninstalling and reinstalling. Seems to be working now.

[2021-04-06 00:15] #34 closed

[2021-04-06 23:52] tekumara opened #35 "mixpanel tracking SSL cert failure"
[code]
[code]

[2021-04-07 12:40] Hellebore commented on #35
Should be fixed in the next release.

[2021-04-10 15:00] Hellebore commented on #35
Should be fixed with release of 0.9.0.

[2021-04-10 15:00] #35 closed

[2021-07-14 19:21] OlafHaag opened #40 "code metrics not showing for functions containing assignment expressions"
Sourcery doesn't show code metrics if the function or method contains an [assignment expression](https://www.python.org/dev/peps/pep-0572/).

Win10
VS Code 1.58.1
Sourcery 0.9.3
Python 3.9.2

[2021-07-15 09:01] Hellebore commented on #40
Thanks for raising! This is a duplicate of https://github.com/sourcery-ai/sourcery/issues/130.

Will close this one and handle it from there - am actually working on the issue soon,

[2021-07-15 09:01] #40 closed

[2021-09-28 04:19] bpepple opened #43 "Unable to upgrade/install extension"
Got an error when attempting to update to v0.9.5, so uninstalled the currently installed version and attempted to do a install again. Failed with the following output error:

[code]

[2021-09-28 07:32] Hellebore commented on #43
Thanks for raising - which OS and VS Code version are you on?

[2021-09-28 12:57] bpepple commented on #43
Fedora 34. VS Code-1.60.2

[2021-09-29 08:02] Hellebore commented on #43
This may take a little while to investigate. For the moment you should be able to install the old version from here:
https://marketplace.visualstudio.com/items?itemName=sourcery.sourcery

[2021-11-04 19:39] Stanzilla opened #44 "Option to disable low code quality globally"
Hey there! I was wondering if it would be possible to disable the low code quality warnings globally, or at least per workspace?

[2021-11-08 09:38] Hellebore commented on #44
You can set up `.sourcery.yaml` config files per workspace where you can configure the threshold for showing the low code quality warnings. Setting it to 0 ought to disable them altogether. See here for details:
https://docs.sourcery.ai/Configuration/

[2021-11-08 09:38] #44 closed

[2021-11-09 19:17] ngam opened #46 "sourcery on arm64 devcontainers"
Usually the sourcery extension fails in in some arm64 containers. For example, I get the following error from a basic python container that defaults to arm64 linux with the following Dockerfile,

[code]

and the error,

[code]

which basically means sourcery doesn't work inside the devcontainer.

[2021-11-10 04:08] ngam commented on #46
More details:

[code]

<img width="733" alt="Screen Shot 2021-11-09 at 23 07 43" src="https://user-images.githubusercontent.com/67342040/141047994-dba77f66-495a-4d50-815b-f60250029d6f.png">

[2021-11-10 04:11] ngam commented on #46
This is likely the trigger: https://github.com/sourcery-ai/sourcery-vscode/blob/8147cf9303f83dac246a0ec73ab96ea4035d8d57/src/executable.ts#L24

[2021-11-10 04:18] ngam commented on #46
Also, fwiw, sourcery still runs via rosetta on osx-arm64...

[2021-11-22 09:10] Hellebore commented on #46
Thanks for raising this! Yes that does look like the issue.
Have you got a link for setting up an ARM 64 devcontainer so I can test this?

[2021-11-22 17:03] ngam commented on #46
could you try the python one with `-bullseye`? See [here]( https://github.com/microsoft/vscode-dev-containers/blob/19adbac72304efc3f7b09970a3bac3c5a68a4c27/containers/python-3/.devcontainer/Dockerfile#L1-L3)

[2021-11-29 04:36] simkimsia opened #48 "Possible Issue? On Apple Silicon M1 Max, the sourcery extension cannot start"
i am getting this error

![image](https://user-images.githubusercontent.com/245021/143809658-1f98094d-b3a1-45bd-a902-ffeb733c3894.png)

Can advise?

[2021-12-04 20:43] ngam opened #52 "recent update breaks sourcery extensions"
hi again, I think your latest update breaks the extension on a regular linux64 machine with the following error:

[code]

[2021-12-04 21:04] Hellebore commented on #52
Hi - thanks for the report - which linux version do you have?

[2021-12-04 21:13] ngam commented on #52
[code]

[code]

[code]

From working with the conda-forge crowd, `GLIBC_2.18` is basically pretty new stuff, so this update will likely be breaking sourcery on a lot of older machines (or machines with LTS OS that's not been upgraded to the latest stuff).

[2021-12-04 21:14] ngam commented on #52
(This is not my "personal" machine --- it is a "work" machine where I don't have proper sudo rights to upgrade, so...)

[2021-12-06 16:10] mxsmns commented on #52
I'm running into the same issue with v0.9.7 of the extension on a very similar RHEL7 setup. Downgrading the extension to v0.9.5 seems to get it working again locally.

[2021-12-07 01:37] russhughes commented on #52
I'm seeing the same error as well on CentOS Linux release 7.9.2009 (Core).

[2021-12-08 23:16] AlexHarn commented on #52
Same for me, on all my remove dev nodes I use via SSH.

[2021-12-10 12:14] brendanator commented on #52
We recently updated the version of cryptography that Sourcery uses. Cryptography now include rust bindings which created this issue.

The next version of Sourcery will fix this issue by including a manylinux2010 compiled version of cryptography

[2021-12-10 16:00] ngam commented on #52
@brendanator, thanks!

This has been happening with a few times in OS-related things (e.g. your extension breaks as well when it's an arm-based processor). Could you please have a look and clean up the deps to ensure the extension works across different OSs if possible? Or if you tell us which deps is holding you back, we can chase them for you :)

[2021-12-10 16:05] ngam commented on #52
As in, something like cryptography may the same source of arm64 issues... most things have supported the new arch, so it could well be simply changing versions, etc. like with the manylinux2010 fix above.

[2021-12-13 15:21] DrMagPie opened #53 "Fails To start on WSL Alpine"
Hello when Sourcery starts it throws out this error:
[code]

this is a brand new install

[2021-12-13 15:24] Hellebore commented on #53
Thanks for reporting! - We should be fixing this in our next release in a few days - it was an issue with our linux build environment.

[2021-12-13 15:46] brendanator commented on #53
Actually I doubt this will work in Alpine. The Sourcery Linux binary is built with `glibc` and we don't currently build or publish a version that is built using `musl`

[2021-12-13 16:55] DrMagPie commented on #53
Happy to hear that it will be fixed for Linux in general.

Sad that you didn't have have a dedicated release for 'musl'.
But that shouldn't be a problem there are dirty hacks to make it work. And 'glibc' compatibility thingy for 'musl' also should work

[2021-12-21 16:50] Hellebore commented on #52
@ngam this should now be fixed with our latest update - 0.9.8. Could you try it out and let us know?

[2021-12-21 20:26] ngam commented on #52
@Hellebore thanks for following up, it looks like the issue with glibc is resolved. The arm64/aarch64 issues persist (in particular, sourcery on arm64 still runs through rosetta and it completely fails on aarch64, indicating a complete lack of support for arm)

[2021-12-23 10:40] Hellebore commented on #52
@ngam thanks - I will close this and we will keep that one for broader ARM support. Probably the main thing we need to do is set up a build environment in GitHub actions that runs on ARM - currently we only build for windows, linux and mac, all on intel.

[2021-12-23 10:40] #52 closed

[2021-12-23 10:41] Hellebore commented on #53
@DrMagPie we've now released our fix for the glibc issue in 0.9.8 - could you try it out?

[2021-12-23 10:42] Hellebore commented on #43
@bpepple would you be able to try again with our latest version. 0.9.8?

[2021-12-23 12:18] DrMagPie commented on #53
Thank you for letting me know.
I will test it next Monday.

[2021-12-24 19:23] bpepple commented on #43
@Hellebore I got v0.9.8 installed, so this bug can probably be closed.  Thanks!

[2021-12-27 08:19] DrMagPie commented on #53
Hi,

I have tried it right now. The problem still persists. So or the Linux thingy was not fixed. or [gcompat](https://git.adelielinux.org/adelie/gcompat) is not working to translate it from `glibc` to `musl`.

I will try to find sometime later today or tomorrow to test it with `Ubuntu` or `Debian`

[2022-01-02 20:07] Antyos opened #60 "Configurable context menu items"
I work in other languages besides Python, so it would be nice to not have the **Sourcery Scan** context menu item pop up on files that it doesn't make sense for, or not at all.

![image](https://user-images.githubusercontent.com/17516195/147887929-d0265a8f-99b6-4dfa-a920-0c73341ca07b.png)

You can add a [when clause](https://code.visualstudio.com/api/references/when-clause-contexts) to choose when

[2022-01-06 07:07] ngam commented on #48
@Hellebore this should be okay with Rosetta. Find whatever the command to install Rosetta is.

[2022-01-06 07:08] ngam commented on #48
`/usr/sbin/softwareupdate --install-rosetta --agree-to-license`

[2022-01-14 12:07] mjpieters opened #61 "Sourcery suggests refactorings when viewing a diff"
Sourcery suggests refactorings for Python code shown in the [Visual Studio code diff view](https://code.visualstudio.com/docs/editor/versioncontrol#_viewing-diffs), usually for a refactoring _already applied_.

To reproduce, create a new Python project with an SCM (like git) or open an existing Python project from GitHub. Make a change in a file containing code that Sourcery could refactor, and go

[2022-01-14 12:17] mjpieters commented on #61
I can fix this issue by updating the `documentSelector` definition in the extension:

https://github.com/sourcery-ai/sourcery-vscode/blob/main/src/extension.ts#L40

Replacing `'python'` with `{language: 'python', scheme: 'file'}` in my local copy of the extension resolves this issue. This would mean sourcery won't be able to make suggestions for new Python files that have not yet been saved to dis

[2022-01-19 21:11] Hellebore commented on #61
Thanks for raising, and pointing out the document selector docs!

[2022-01-19 21:12] Hellebore commented on #60
Ah interesting - thanks for pointing those out.

[2022-02-01 10:27] Hellebore commented on #61
This should now be addressed by 0.10.1

[2022-02-01 10:27] #61 closed

[2022-02-03 18:36] MicaelJarniac opened #66 "Empty field added to all pop-ups in Python"
The Sourcery extension adds an empty field on hover pop-ups for all items that don't have metrics to display, even comments:

![image](https://user-images.githubusercontent.com/19514231/152406366-b4471af6-32ef-4cde-87d6-70c2bf230a18.png)
![image](https://user-images.githubusercontent.com/19514231/152406384-d2c18519-9345-4513-bf6b-6946f44c2443.png)
![image](https://user-images.githubusercontent.com

[2022-02-04 13:47] Hellebore commented on #66
oh no! Thanks for spotting and raising this!

[2022-02-09 11:33] Hellebore commented on #66
Fixed with 0.10.2

[2022-02-09 11:33] #66 closed

[2022-02-09 20:34] ngam commented on #46
@Hellebore any update on this or any potential for a solution soon? Closing otherwise.

[2022-02-09 20:34] #46 closed

[2022-02-17 22:25] #43 closed

[2022-02-19 18:59] LeGmask commented on #53
I have the same issue, any news ?

[2022-02-22 08:45] Hellebore commented on #53
@LeGmask Since we build with glibc we are not supporting Alpine currently. Will update this issue if that changes in future.

[2022-02-22 11:01] LeGmask commented on #53
Well yes but I have the same issue on arch Linux ....

[2022-02-23 12:11] Hellebore commented on #19
@thecesrom sorry it's been quite a while! Is this still happening with our latest version?

[2022-02-23 15:57] thecesrom commented on #19
Hello, @Hellebore. I can happily report that I recreated the `sourcery.py` file on my Desktop and with version `0.10.2` everything is working  fine, and I do get code refactorings from Sourcery.

Thanks for the follow-up!

[2022-03-07 13:30] #19 closed

[2022-03-08 09:07] Hellebore commented on #48
@simkimsia could you try running the above command and see if that resolves the issue?

[2022-03-16 21:30] #48 closed

[2022-03-18 21:22] MicaelJarniac opened #69 "Extension not working at all, how to debug?"
I've been using this extension for a few months, and recently it simply stopped working, and I'm not sure how to troubleshoot.

I did try uninstalling and reinstalling, and it didn't work.

<details>
<summary>System Info</summary>

[code]
[code]
Sourcery `v0.11.1`
</details>

[2022-03-18 21:26] MicaelJarniac commented on #69
I think I found some logs:

[code]

[code]

[2022-03-18 21:33] MicaelJarniac commented on #69
Solved it, I had to install `libcrypt-compat` with Pacman.

[2022-03-18 21:33] #69 closed

[2022-03-23 22:13] Hellebore commented on #53
@LeGmask could you try the Arch linux libxcrypt workaround here?
https://docs.sourcery.ai/Troubleshooting/

[2022-03-23 22:18] LeGmask commented on #53
Okay that's works perfectly :stuck_out_tongue: niiiice !
But since all these day it was just in the [Troubleshooting](https://docs.sourcery.ai/Troubleshooting/) section ?

[2022-04-19 16:19] angrycaptain19 opened #74 "Scan for Refactorings command ignores .ipynb files"
If you run the Scan for Refactorings command on a folder containing a notebook file or directly on a notebook file it will ignore the notebook file and not return any refactorings, even when they are present

[2022-04-21 20:08] reka commented on #74
Hi,

It's an inconsistent user experience indeed:

* Sourcery shows recommendations in VSCode for Jupyter notebooks
* but the `scan` command ignores those notebooks

Supporting notebooks will require some more development work.
I've created an internal project for it. Let's continue the discussion there.

[2022-04-21 20:08] #74 closed

[2022-05-21 11:12] MinekPo1 opened #75 "Extention ignores user configured indentation."
Steps to reproduce:

1. Set indent to anything different then 4 spaces
2. Write any code which sorcery suggests a refactoring, which spreads over multiple lines.
For example:
[code]
4. Accept the refactoring.

Expected:

The refactoring uses user configured indentation.

Behavior:

The refactoring always uses four spaces for indentation.

This is especially bad, if the user uses tabs for indentati

[2022-05-25 15:36] Murithijoshua opened #76 "Error while installing 'Sourcery' extension."
* I am using Ubuntu 20.04, with vs-code as my editor, past a week I was using Sourcery well until
it started misbehaving.
* I went ahead to uninstall the extension however I was Unable to reinstall it again
### NB:the logs are for Code-insider but are same with vs-code. I went ahead to counter check
**logs**
[code]

[2022-05-26 07:52] reka commented on #75
Hi @MinekPo1,

Thanks a lot for reporting this issue. :+1:

I've tried to reproduce it with multiple examples and it seems it varies whether Sourcery follows the indentation or always adds the 4 spaces. :see_no_evil:

We'll look into it and let you know when there's a fix.

Cheers,
Reka

[2022-05-26 08:14] MinekPo1 commented on #75
I've also seen the extension splitting lines on the 70 char mark, which I personally don't mind, but I feel like being able to configure that would be nice!

[2022-05-26 08:29] reka commented on #76
Hi @Murithijoshua ,

That's interesting, thanks a lot for reporting it. :+1:
I have two questions.

1)
What was your use case when you got these errors?
Were you trying to install just the Sourcery extension? Or some other extensions as well?

E.g. the line about the error at 18:16:45 is referring to the vim extension `/home/joshua/.config/Code - Insiders/User/globalStorage/vscodevim.vim/.register

[2022-05-26 17:57] Murithijoshua commented on #76
Hi @reka
1.(a)To first question, By default I have set an auto-update setting to all my extensions. with this in mind Sourcery was to update together with other extensions. In this case all extensions updated apart from sourcery.This execrated causing sourcery not to work as used.I went ahead uninstall it and reinstall which caused the error above.
1(b). I was trying to install only Sourcery for v

[2022-05-26 19:25] hikariatama opened #77 "aarch64 vscode ssh sourcery is not starting"
I'm running Oracle Ampere arm64. Sourcery fails with `/lib64/ld-linux-x86-64.so.2: No such file or directory`
If you need any further info, I'll give it

[2022-05-27 10:53] reka commented on #77
Hi @hikariatama ,

Sorry, Sourcery currently doesn't support ARM.
We support M1 Mac via the Rosetta emulator, but not Oracle Ampere arm64.

https://docs.sourcery.ai/Troubleshooting/supported-operating-systems/

[2022-05-27 12:39] hikariatama commented on #77
Any workaround?

[2022-05-27 15:46] reka commented on #76
Thanks a lot for sharing more info.

We looked into the issue and have multiple possible ideas what might be going on.

1.
It's strange that the logs contain several errors, but they don't mention "sourcery" at all.
=> This might indicate that the VSCode Insiders extension updater had some temporary issue.

2. The Sourcery extension is relatively big compared to other VSCode extensions. That can b

[2022-05-27 15:53] Murithijoshua commented on #76
Thanks, I will also go on and recheck about the same. Maybe install in a new Vscode enviroment.

[2022-05-28 03:40] #76 closed

[2022-05-28 03:43] Murithijoshua commented on #77
Hi @hikariatama I also faced the same by both vscode and vscode insiders.
However it is working well on Pycharm. For the meantime you can go ahead and use pycharm/Sublime

[2022-05-28 04:20] hikariatama commented on #77
Apparently I'm sublime user, but I got copilot and that's why I migrated to vscode

[2022-06-07 03:22] drewbitt opened #80 "Unneeded binaries"
sourcery_binaries on Windows 10 includes binaries for Linux and Mac. Notably, combined they are over 400MB, making sourcery by far my largest extension. The extension does not appear to use these binaries.

[2022-06-08 07:42] Hellebore commented on #80
Thanks for raising @drewbitt - shrinking the size of the binary is definitely something we're keen to do, but as a small team we haven't been able to prioritize it just yet.

Currently it should delete unneeded binaries once run, but indeed it would be much better not to have them in the first place.

[2022-06-17 17:27] hikariatama commented on #77
I've tried renaming original binary to `sourcery-original`, and then compiling my own, which runs the original ones through `qemu-x86_64`, but I get the same error (`/lib64/ld-linux-x86-64.so.2: No such file or directory`). If someone knows, how can I bypass this, please. Any workaround for VSCode. Also, I tried running sourcery locally on Windows by specifying "`force UI`" flag in settings.json.

[2022-06-20 03:57] wardy3 opened #83 "Sourcery is showing too many diff's for CRLF files"
When hovering over a function in VSCode, you get the nice function summary with the stars.

![image](https://user-images.githubusercontent.com/15006782/174522505-62beddd7-5b53-423d-b527-0115963a3d46.png)

When there is a suggested refactor, it shows a diff

![image](https://user-images.githubusercontent.com/15006782/174522551-b5d11902-abdb-4eb5-9324-e03da38568a6.png)

However, if I change my line

[2022-06-28 01:05] FeeeeK opened #87 "Error on startup in Windows 11"
[code]

[2022-06-28 06:17] reka commented on #87
Hi @FeeeeK ,

Thanks a lot for reporting this issue. :+1: That looks really strange, we'll investigate it.

Can you perhaps give us some more info about the context? That would be super helpful for the troubleshooting.

1. Have you just installed Sourcery when you got this error? Or were you trying to upgrade to version 0.12.1 ?
2. Which Windows version are you using?

Thanks a lot in advance.

[2022-06-28 20:18] darkvertex opened #88 "libstdc++.so incompatibility in languages.so"
I have a server I sometimes use the VSCode "Remote SSH" extension with to connect to and when I do Sourcery is not happy:

[code]

If it helps, the linux box runs CentOS7 and has libstdc++-4.8.5

[code]

[2022-06-29 07:35] reka commented on #88
Hi @darkvertex ,

Thanks a lot for reporting this issue and for the detailed information. :+1:
This is definitely a :bug: , we'll look into it.

How long have you experienced this problem?
Only for the version 0.12.1 (in the last 2 weeks) or longer?

[2022-06-29 10:54] reka commented on #87
Hi @FeeeeK ,

We're investigating this issue.
Can you perhaps give us a bit more info about your environment?

1. Which Windows version are you using?
2. Which package manager are you using? PyPI, conda, sth completely different?

[2022-06-29 10:59] reka commented on #88
Hi @darkvertex ,

Thanks again for reporting this.
Unfortunately, our new parser relies on libstdc++ 6.

So far, we have 2 troubleshooting ideas:

1. Can you perhaps update the libstd version on your server?

2. Can you eventually upgrade glibc?
We've seen a few instances of similar errors on various Linux versions, but all of them are using glibc 2.17

[2022-06-29 21:36] FeeeeK commented on #87
1. Windows 11
2. PyPI

[2022-06-29 21:48] FeeeeK commented on #87
This bug appears only in 0.12.1
![image](https://user-images.githubusercontent.com/26704473/176551156-3e0b84a8-81c5-48b8-9291-92704d36eda2.png)

[2022-07-12 08:16] Chiu-Ping commented on #88
Hello,

Thanks for the useful and creative extensions.
I also had this error: OSError: /lib64/libstdc++.so.6: version `CXXABI_1.3.9' not found
so how to solve it? many thanks

[2022-07-24 19:09] nezinomas commented on #87
I am getting the same error on Windows 11, Phyton 3.92, Sourcery v0.12.3

[Info  - 22:04:38] Connection to server got closed. Server will restart.
Traceback (most recent call last):
  File "c:\Users\Usr\VSCODE~1\EXTENS~1\SOURCE~1.3\SOURCE~1\install\win\__main__.py", line 8, in <module>
  File "<frozen importlib._bootstrap>", line 1007, in _find_and_load
  File "<frozen importlib._bootstrap>", line

[2022-07-24 19:12] FeeeeK commented on #87
@nezinomas Try to install version 0.12.1 it worked for me

[2022-08-01 16:09] willfrey opened #89 "`Sourcery: Create a default Sourcery configuration file for your project` command fails"
Running the `Sourcery: Create a default Sourcery configuration file for your project` command on VS Code fails with the following error:

[code]

It looks like it's trying to add 🪄 somewhere?

#### Relevant version info:
- Sourcery v0.12.6
- VS Code v1.69.2
- macOS v12.5

[2022-08-01 21:27] reka commented on #89
Hi @willfrey ,

Thanks a lot for reporting this :bug: .

Yes, exactly. :+1:

This command wants to:

* create a `.sourcery.yaml` file
* add some initial content to it

This initial content is starting with the line:

[code]

And unfortunately, this doesn't work with ascii.
We'll fix this and let you know when it's available.

[2022-08-18 22:55] wardyemc opened #90 "Nightly builds don't install"
Hi

I have "nightly builds" ticked and every so often, the extension tells me that one is available and to restart

But it's never the version shown in extensions

Just now it came up saying `Sourcery updated to version 0.12.7b20+97e8dc7e. Restart to complete update.` I still have 12.6 installed

![image](https://user-images.githubusercontent.com/56005742/185509065-3bf4c745-f06a-4baa-b218-9a3f1ac8

[2022-08-19 08:48] Hellebore commented on #90
Hi @wardyemc - the nightly builds download and update the sourcery binary that is bundled with the extension - they don't update the version of the extension itself.

It sounds like they are working, but we definitely could do with improving our documentation around them so it's clear what is happening!

I'll tweak this issue to be about improving those docs.

[2022-09-01 23:47] stella-public-account opened #91 "Syntax error when enabling sourcery in vscode"
Hi,

I am getting below error message when I open the VSCode. The extension is installed on remote workspace running Ubuntu -

OS - Ubuntu
Sourcery Version - 0.12.7

[code]

Can you please let me know what this is about?

Regards,
Ratnesh

[2022-09-02 20:55] russhughes commented on #88
This prevents using the plugin with Centos7. I haven't found a workaround.

[2022-09-05 09:11] reka commented on #91
Hi Ratnesh,

Thanks for reporting this issue.

I have some questions for the troubleshooting:

1. Do I understand correctly that the local environment and the remote workspace both run Ubuntu?
2. If yes: Which Ubuntu version?

Thanks for the clarification.

Cheers,
Reka

[2022-09-05 10:51] stella-ratnesh-nagori commented on #91
Hi Reka,

Thanks for the reply.

Local environment is macOS with VSCode installed on it. But it shouldnt matter because I connect to remote server using SSH.

Remote environment has version - **Ubuntu 22.04.1 LTS**

Thanks
Ratnesh

[2022-09-16 17:31] pzelnip opened #92 "Broken links in dialog windows"
When I get a suggestion from Sourcery, there's a link in the modal to a page that describes the refactor.  For example:
<img width="517" alt="image" src="https://user-images.githubusercontent.com/414933/190698534-cf8ded9f-b8dd-4172-8b4a-9bce2295df36.png">

Clicking that link (`raise-from-previous-error`) goes to https://docs.sourcery.ai/suggestions/raise-from-previous-error/ which is a 404.  The c

[2022-09-16 17:32] pzelnip commented on #92
In case it matters, I'm running 0.12.8 of the vscode Sourcery extention

[2022-09-17 08:28] Hellebore commented on #92
Thanks for raising! Definite error on our part since we restructured our docs - will be fixed in the next release coming this week.

[2022-09-28 19:09] Hellebore commented on #92
Fixed with 0.12.9

[2022-09-28 19:09] Hellebore commented on #89
Fixed with 0.12.9

[2022-09-28 19:09] #89 closed

[2022-10-12 20:05] plague006 opened #96 "Error if no .sourcery.yaml present"
Heya,

Since the 0.12.10 update, I get the following error pop up when opening VSCode and/or changing workspaces:

[code]

I took a look for any logs that might provide more detail in the output tab but couldn't find any.
The error doesn't seem to prevent any functionality.

[2022-10-12 21:33] Hellebore commented on #96
Thanks for raising this - I've tracked down the issue and am working on a fix.

[2022-10-13 11:30] Hellebore commented on #96
We should be releasing a patch for this later today.

[2022-10-14 14:12] Hellebore commented on #96
Now live.

[2022-10-23 02:49] Rathvire opened #101 "Python Version Error"
Hey, Sourcery throws this error on vscode start. Also mentions something about int not having a split method.

This may be due to some personal ignorance on my part but I've been unable to find anything mentioning this specific error thus far.
Using the schema at https://docs.sourcery.ai/resources/sourcery_yaml_schema.json

Sourcery version 0.12.11, Occurs on other versions also.
vscode version 1.

[2022-10-24 09:37] brendanator commented on #101
Thank you for reporting this @Rathvire

This appears to be a problem with our schema and it won't affect the running of our application. You have configured it correctly as a string.

We will fix our schema so this doesn't occur

[2022-10-24 18:43] Rathvire commented on #101
Thanks

[2022-10-26 09:01] Hellebore commented on #91
@stella-ratnesh-nagori Apologies for the long delay in follow-up.

Does this still occur with the latest Sourcery version?
Also if you could send your `.sourcery.yaml` file if you have one, and your sourcery log file, that would be amazing.
https://docs.sourcery.ai/Product/Troubleshooting/#what-is-the-sourcery-log

[2022-10-31 22:21] gargolito opened #103 "when clicking "Sourcery" in the status line, a NOENT error is thrown, cannot find file (sourcery issue #297)"
**Note:** I had opened issue [**297**](https://github.com/sourcery-ai/sourcery/issues/297) in the sourcery repo, but it seems like it should be here instead.

### Checklist

- [X] I have searched the [Sourcery documentation](https://docs.sourcery.ai/) for the issue, and found nothing
- [X] I have checked there are no open [bugs](https://github.com/sourcery-ai/sourcery/issues?q=label%3Abug) referen

[2022-11-01 14:07] ruancomelli commented on #103
As mentioned in https://github.com/sourcery-ai/sourcery/issues/297, a fix for this issue has already been merged and will be available in the next Sourcery release.

Thank you for reporting this issue!

I added the `next release` label to this issue and will keep it open until the next release goes live.

[2022-11-03 01:34] noirchen commented on #77
Any updates on the M1 version? I see there is a universal sourcery cli now, how far is it before we can have an M1 native extension?

[2022-11-07 22:43] #101 closed

[2022-11-17 15:19] Hellebore commented on #103
Now released.

[2022-11-17 15:19] #103 closed

[2022-11-25 10:11] brendanator commented on #18
This is now done. You can login in directly by running `Sourcery: login` from the command palette

[2022-11-25 10:11] #18 closed

[2022-11-25 10:13] Hellebore commented on #60
Restricted the scan option to Python files and folders.

[2022-11-25 10:13] #60 closed

[2022-11-29 09:28] WXZhao7 opened #110 "not work on specific machine"
Today I found there is no suggestion from Sourcery and then recognized it does not work.
![sourcery-error](https://user-images.githubusercontent.com/56864878/204490056-8d349c1d-06a6-4b76-8361-3e8ccf98e55f.png)
I disable the unrelated extensions and only keep Soucery and recommended python packages on. But nothing changed. Finally, I try to reproduce the error in a VM. I downloaded VScode, copy the

[2022-11-29 09:35] Hellebore commented on #110
Thanks for raising, and sorry you're having issues.

Could you let us know:
- The OS of the machine
- Whether it previously worked on this machine
- Have you got a `.sourcery.yaml` file in the project of a `sourcey.yaml` file in your user config location:
https://docs.sourcery.ai/Reference/Configuration/Sources/#user-configuration-file-system-locations

Could you also post (or mail to support@sour

[2022-11-29 09:50] WXZhao7 commented on #110
@Hellebore Thanks. I work with Ubuntu20.04, and VM is also Ubuntu20.04. I did not use any `sourcey.yaml` and emailed logs to [support@sourcery.ai](mailto:support@sourcery.ai).

[2022-11-29 09:57] WXZhao7 commented on #110
I'm sure [sourcery-vscode](https://github.com/sourcery-ai/sourcery-vscode) worked for a long time. But I'm not clear when it stopped working😱

[2022-11-29 10:42] WXZhao7 commented on #110
@Hellebore Somthing wrong in v1.0.0+
v0.12.12 ✅
![image](https://user-images.githubusercontent.com/56864878/204504303-dcc227e3-0aa1-48c2-96fa-a5f2443c1d7c.png)
v0.12.13 ✅
![image](https://user-images.githubusercontent.com/56864878/204507106-c9016816-d3f2-401e-b473-3fffb16f7959.png)
v1.0.0 and v1.0.1 ❌
![image](https://user-images.githubusercontent.com/56864878/204508019-7c8cedc8-a1d9-4972-8d3a-0c6

[2022-11-29 13:11] WXZhao7 commented on #110
I'm sure I can't find any `sourcery.yaml`.
![image](https://user-images.githubusercontent.com/56864878/204536612-6980517b-a046-462d-916e-6b30d69cf67d.png)
even in the example repo dir, also no `sourcery.yaml `
![image](https://user-images.githubusercontent.com/56864878/204536977-dd302e69-282e-4d2c-ab39-0e8452067720.png)

[2022-11-29 13:17] WXZhao7 commented on #110
I also never use `sourcery.yaml` in my projects.
![image](https://user-images.githubusercontent.com/56864878/204538964-28a502b4-ac0d-4896-ad89-31336210df91.png)

![image](https://user-images.githubusercontent.com/56864878/204538909-461cd442-3ea2-45ce-82f2-1774452ff178.png)

[2022-11-29 13:37] Hellebore commented on #110
Thanks - this is really helpful.

Could you also look in `~/.local/share/sourcery/sourcery.yaml` for me please?

[2022-11-29 15:32] Hellebore commented on #110
This is really puzzling. It's behaving exactly as if you have a yaml file with an invalid config somewhere!

Could you search your whole system for `.sourcery.yaml' files?

(like go to your home and use `find . -name '.sourcery.yaml'`)

Also are `wxz` and `wxzhao` aliased on your system or are they separate directories?

If that doesn't work we will add more logging to our next version to see if t

[2022-11-29 15:45] WXZhao7 commented on #110
Yeah, I find the hidden `.sourcery.yaml`. Removed it and Sourcery worked again! Thanks!❤️
![image](https://user-images.githubusercontent.com/56864878/204574481-c05fdb8d-aef8-4c5f-b822-a9e945f7a96a.png)
[code]

![image](https://user-images.githubusercontent.com/56864878/204575751-bd7438b1-50b4-4934-96f7-f7834e4d4a56.png)

[2022-11-29 15:46] #110 closed